node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

.expo/packager-info.json
.expo/settings.json
package-lock.json
# macOS
.DS_Store
/node_modules
*.expo/packager-info.json
.idea/
.vscode/



